### Input

In [3]:
a=input()
a

5

'5'

In [2]:
# adding two number
a = input()
b = input()
s = a + b
s

2
3

'23'

### so by defaut input() function returning string

In [6]:
a = input()
print(type(a))
b = input()
print(type(b))
s = a + b
print(type(s))
s

4
<class 'str'>
7
<class 'str'>
<class 'str'>

'47'

### Converstion of string to integer,float

In [11]:
a = "47"
print("type of a:", type(a))
b = int(a)
print("type of b:", type(b))
print(b)

type of a: <class 'str'>
type of b: <class 'int'>
47

In [14]:
a1 = input()
print("type of a:",type(a1))
b1 = int(input())
print("type of b:",type(b1))

47
type of a: <class 'str'>
65
type of b: <class 'int'>

In [16]:
a3 = int(input())
type(a3)

34

int

In [18]:
a4 = float(input())
type(a4)
a4

4.242

4.242

### Simple Interset

In [21]:
p = int(input())
r = int(input())
t = int(input())
si = (p*r*t)//100
si

100
12
2

24

### Far to celcius conversion

In [24]:
f = int(input())
c = (f-32) * 5/9
c

100

37.77777777777778