## function on string

### split

In [1]:
str = "My name is Parikh"
li = str.split()
print(li)
#by defult it split on the basic of space

['My', 'name', 'is', 'Parikh']

In [3]:
str = "Myna?mei?sPar?ikh"
li = str.split('?')
print(li)

['Myna', 'mei', 'sPar', 'ikh']

In [4]:
str = "M,y na,me i,s Par,ikh"
li = str.split(',')
print(li)

['M', 'y na', 'me i', 's Par', 'ikh']

In [6]:
 str = "My&name&is&Parikh"
li = str.split('&',1)
print(li)

['My', 'name&is&Parikh']

### replace

In [8]:
str = "My name is Parikh"
str.replace("Parikh","Rohan")
print(str)

My name is Parikh

Not change str because string are immutable in python

In [9]:
str = "My name is Parikh"
strnew = str.replace("Parikh","Rohan")
print(str)
print(strnew)

My name is Parikh
My name is Rohan

In [10]:
str = "My name is Parikh"
strnew = str.replace("which","Rohan")
print(str)
print(strnew)

My name is Parikh
My name is Parikh

In [11]:
str = "My name is Parikh Parikh and Parikh"
strnew = str.replace("Parikh","Rohan")
print(str)
print(strnew)

My name is Parikh Parikh and Parikh
My name is Rohan Rohan and Rohan

In [12]:
str = "My name is Parikh Parikh and Parikh"
strnew = str.replace("Parikh","Rohan",2)
print(str)
print(strnew)

My name is Parikh Parikh and Parikh
My name is Rohan Rohan and Parikh

### find -> return index of the substring

In [13]:
str = "My name is Parikh"
index = str.find("na")
print(index)

3

In [14]:
str = "My name is Parikh"
index = str.find("nae")
print(index)

-1

In [16]:
str = "My name is Parikh Parikh"
index = str.find("Par")
print(index)

11

In [17]:
str = "My name is Parikh Parikh"
index = str.find("Par",16,20)
print(index)

-1

In [18]:
str = "My name is Parikh Parikh"
index = str.find("Par",16,21)
print(index)

18

### lower and upper

In [19]:
str = "My name is Parikh Parikh"
str = str.lower()
print(str)

my name is parikh parikh

In [20]:
str = "My name is Parikh Parikh"
str = str.upper()
print(str)

MY NAME IS PARIKH PARIKH

### startswith

In [22]:
str = "My name is Parikh"
ans = str.startswith("My na")
print(ans)

True

In [23]:
str = "My name is Parikh"
ans = str.startswith("My Na")
print(ans)

False

In [24]:
str = "My name is Parikh"
ans = str.startswith("Pa",11,25)
print(ans)

True

In [25]:
str = "My name is Parikh"
ans = str.startswith("Pae",11,25)
print(ans)

False